.header{
    background-color: rgb(242, 242, 248);
    border: 1px solid black;
    padding: 10px;
    text-align: left;
    }

.Footer{
    height: 200px;
    width: auto;
    grid-column: 5/3;
    background-color: rgb(242, 242, 248);
    grid-row: 5/3;
    border: 1px solid black;
}

.Espacio{
    height: 30rem;
    padding: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2,  1fr);
    gap: 10px;
    justify-content: center;
    margin-left: 25rem;
    
}

.Espacio2{
    height: 300px;
    width: 600px;
    
}

.logo{
    width: 25px;
    height: 25px;
}


.Cuadro{
border: 1px solid black;
 height: 100px;
 width: 100px;


}


